.container{
    width: 100%;
    background: white;
    position: fixed;
    margin-bottom: 10px;
    left: 0;
}

.mainContent{
    clear: both;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.btn-top{
position: relative;
float: auto;
width: 30%;
}
.banner{
    width: 100%;
    top: 0;
    left: 0;
}
.learn-more{
    
}